<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/nav.ejs') %>
    <header id="about-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto py-4 text-center">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </header>

        <main>
        <section id="about" class="py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       <h3>How we started</h3>
                       <div>
                            <p>My first day in the <strong> University of Ibadan </strong>, Getting into the dorm allocated to me I saw a lot of abandoned books.
                                These books were still in good shape and in fact some of them were still new. After my first semester I discovered that there is no
                                platform that gives me the access to share course materials (mostly pdf's) that will be useful to the next set of students.
                                  This got me thinking, and I asked myself these questions:
                            </p>
                            <ul>
                                <li>Is there anyone trying to solve this? </li>
                                <li>Can I solve this? </li>
                                <li>How can I solve this? </li>
                            </ul>
                            <p>These three questions are what brings <strong> bukooh! </strong> to life.</p>
                       </div>
                       <h3>Our Intent</h3>
                       <div>
                           <p>Our main aim is to minimize and eventually stop the waste of books in the <strong> University of Ibadan </strong>. We give 
                               book owner the platform to upload "No Longer Useful books to me" either softcopy or hardcopy. We make pdf's
                               downloadable to anyone irrespective of their race or culture and we connect those that upload hard copy books(in form of an image with some descriptions)
                               to those that needs it through <strong>SMS</strong>(text messages).
                           </p>
                           <p>And Guess what? <strong>It's 100% free</strong></p>
                           <blockquote cite="">
                                <p><strong>Why don't you give bookooh a try. Someone in need might be in need of what you don't need anymore. </strong></p>
                            </blockquote>
                            <cite>– Babatunde Ololade, Founder bukooh!</cite>
                       </div>
                       
                    </div>
                    <div class="col-md-6">
                        <img src="/images/about.jpg" 
                        alt="about" style="width: 550px; height: 550px" class="img-fluid rounded-circle d-none d-md-block about-img">
                    </div>
                </div>
            </div
        </section>

        
    <section id="authors" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary pb-3">
                            Meet the Team
                        </h1>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/oba.jpg" alt="author" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Babatunde Ololade</h3>
                        <h5 class="text-muted">Web Developer & IoT Enthusiast</h5>
                        <p>I am the CEO and the founder of <strong> bukooh! </strong> I am insanely curious about anything that has to do with tech - presently I am exploring the world of Web Development.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a target="_blank" href="https://web.facebook.com/profile.php?id=100011265423546">
                                     <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a target="_blank" href="https://www.quora.com/profile/Babatunde-Ola-1">
                                    <i class="fab fa-quora"></i>
                               </a>
                            </div>
                            <div class="p-4">
                                <a target="_blank" href="https://www.instagram.com/baba_tunde_ola_/">
                                    <i class="fab fa-instagram"></i>
                               </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/potential.jpg" alt="author" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Micheal Eyitayo</h3>
                        <h5 class="text-muted">Web Developer & Designer</h5>
                        <p>I am the CEO and founder of <strong> Delve iDesign </strong>, and the co-founder of <strong> bukooh! </strong> What 
                            makes me dangerous is that I love what I do - I design, I Inspire and I develop.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a target="_blank" href="https://web.facebook.com/mike.eyitee">
                                     <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                            <div class="p-4">
                                <a target="_blank" href="https://www.quora.com/profile/Eyitayo-Michael-1">
                                    <i class="fab fa-quora"></i>
                               </a>
                            </div>
                            <div class="p-4">
                                <a target="_blank" href="https://www.instagram.com/mrpotential">
                                    <i class="fab fa-instagram"></i>
                               </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

       <section id="testimonials" class="p-4 mb-4 text-white">
        <div class="container">
            <h2 class="text-center">Testimonials</h2>
            <div class="row text-center">
                <div class="col">
                    <div class="slider">
                        <div>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    before <strong> bukooh! </strong> I used to throw away the books that were no longer useful. Now I just give them out.
                                </p>
                                <footer class="block-quote-footer">Ajayi Daniel from 
                                    <cite title="company 1"> Agricultural Engineering, UI
                        </div>
                        <div>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    This is cool, the text messages and the location features really makes everything cool.
                                </p>
                                <footer class="block-quote-footer">Ayodabo Tomisin from Computer Science
                                    <cite title="company 2"> , UI</cite>
                                </footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    Medical books are expensive and sometimes difficult to get, why don't you <strong>bukooh!</strong> it,
                                    this way you are helping a brother and yourself
                                </p>
                                <footer class="block-quote-footer">Adepoju Teslim from 
                                    <cite title="company 3"> Medicine and Surgery, UCH</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>


<%- include('./includes/footer.ejs') %>
