:root {
    --main-color: #3a4660; 
  }


/* body {
    margin-top: 150px;
} */


.navbar {
    box-shadow: 2px 2px 2px #000;
    opacity: 0.9;
    background: var(--main-color);
}

.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
}

.card .card-img-top {
    height: 15rem;
    object-fit: cover;
}

#showcase-inner {
    background: url('/images/bookooh2.jpg') no-repeat bottom center fixed/cover;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

#showcase-inner::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      width: 100%;
      background: rgb(58, 70, 96, 0.3)
}

.listing-preview a {
    position: relative; 
}